<ng-container *ngIf="isReady(); else loading">
<h1 class="photo-title">{{photo.title}}</h1>
<div class="photo-page-container">
  <div class="photo-wrapper padding">
    <div class="photo-container">
      <h5>by <span><a href="#">{{user.username}}</a></span></h5>
      <img src="{{photo.url}}">
    </div>
  </div>
  <div class="album-container padding">
    <h5>from album <span><a href="#">{{album.title}}</a></span></h5>
    <div class="album-container-list">
      <app-photo-link *ngFor="let photo of albumPhotos" [photo]="photo"></app-photo-link>
    </div>
  </div>
</div>
</ng-container>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
