$color-background: #1c161d;
$color-highlight: #fdae84;
$color-main: #ecc7c0;

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  color: $color-main;
  background: $color-background;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  color: $color-highlight;
  text-decoration: none;

  &:hover {
    color: #ffe186;
  }
}
